# ==========================================
# CONFIGURACIÓN DE ENTORNO - COTTON KNIT
# ==========================================

# Red de Docker de Nginx Proxy Manager
NPM_NETWORK_NAME=proxy-network
